.user-chat{
    display: flex;
    justify-content: end;
    align-items: left;
}
.robot-chat{
    display: flex;
    align-items: center;
}
.message{
    background-color: rgb(238, 238, 238);
    padding: 12px 20px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    max-width: 300px;
    justify-items: start;
}
.profile{
    height: 45px;
    border-radius: 45px;
    object-fit: cover;
    object-position: center;
}
.chat-time{
    font-size: 14px;
    color: rgb(125, 125, 125);
    margin-top: 5px;
}